<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    .active {
      color: #9F4A54 !important;
      font-weight: bold;
      text-decoration: underline;
    }
    .navbar-brand {
      font-weight: bold;
    }
    .nav li a:hover {
      color: white !important;
    }
  </style>
</head>
